# Entorno virtual
env/
venv/
*.venv/

# Archivos compilados de Python
*.pyc
__pycache__/

# Bases de datos
db.sqlite3

# Archivos estáticos y medios que no quieres subir
/static/
/media/

# Archivos de sistema
.DS_Store
Thumbs.db
