{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gimnasios</title>
    <link rel="stylesheet" href="{% static 'css/Footer.css' %}">    
  </head>
<footer class="footer">
    <div class="footer__content">
        <div class="logos">
            <div class="logo1"></div>
            <div class="logo2"></div>
        </div>
        <nav class="footer__nav">
            <ul class="footer">
                <li class="bton01"><a href="#">Inicio</a></li>
                <li class="bton01"><a href="#">Acerca de nosotros</a></li>
                <li class="bton01"><a href="#">Servicios</a></li>
                <li class="bton01"><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="contenido__texto">
            <hr />
            <p class="text-center">
                <a href="#">Desarrollado por JOSE ANGEL A.L. -  Coatzacoalcos, Ver.</a>
            </p>
        </div>
    </div>
</footer>
